.chat-container {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    min-height: 200px;
    width: 77vw;
    min-width: 280px;
    padding: 20px;
    border-radius: 10px;
  
    background-color: hsla(235, 30%, 8%, 0.6);
    backdrop-filter: blur(1px);
    border: 0.25px solid hsla(235, 30%, 20%, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
  
  .chat-box {
    flex-grow: 1;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  .input-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  
  .heading {
    text-align: left;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-clip: text;
    background: hsl(235, 55%, 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .button {
    background-color: hsl(235, 55%, 45%);
    color: hsl(235, 75%, 85%);
  
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.16s ease-in;
  }
  
  .button:hover {
    background-color: hsl(235, 50%, 35%);
  }
  
  .message {
    display: inline-block;
    max-width: 70%;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-x: auto;
    white-space: pre-wrap;
  }
  
  .message li {
    white-space: normal;
  }
  
  .message code {
    border-radius: 8px;
  }
  
  .user-message {
    background-color: hsl(235, 55%, 45%);
    color: hsl(240, 76%, 90%);
    float: right;
    clear: both;
  }
  
  .assistant-message {
    background-color: hsl(235, 23%, 65%);
    color: hsl(240, 30%, 25%);
    float: left;
    clear: both;
  }
  
  .message * {
    margin: 0px;
  }