:root {
  --side-margin: 4px;
  --top-bottom-padding: 4px;
}

/* Menubar styles */
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 42px;
  max-width: 90%;
  inset: 0 0 auto 0;
  margin: 10px auto auto auto;
  padding: var(--top-bottom-padding) var(--side-margin);
  background-color: hsla(235, 20%, 15%, 0.9);
  backdrop-filter: blur(1px);
  border-radius: 8px;
  z-index: 1000;
}

.input {
  flex-grow: 1;
  height: 27px;
  min-width: 70px;
  border-radius: 7px;
  border: 2px solid hsla(240, 25%, 75%, 0.016);
  background-color: hsl(235, 20%, 20%);
  color: hsl(240, 25%, 75%);
  transition: border-color 0.2s ease-in-out;
  padding-left: 7px;
}

.input:focus {
  outline: none;
  border-color: hsl(240, 20%, 40%);
}

.input,
.slider-container {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 130px;
  height: 2em;
  cursor: pointer;
  background-color: hsl(240, 10%, 15%);
  border-radius: 5px;
  inset: 0 0 auto auto;
  transition: 0.4s;
}


.slider-container input {
  /* display: none; */
  opacity: 0;
  position: fixed;
}

.slider-track {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider {
  position: absolute;
  left: 0;
  height: 2em;
  width: 50%;
  border-radius: 5px;
  background-color: hsl(240, 20%, 20%);
  transition: 0.4s;
}

input:checked + .slider-track .slider {
  left: 50%;
}

.model-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: hsl(240, 76%, 87%);
  font-size: 15px;
  z-index: 1;
}
