:root {
    --side-margin: 6px;
    --top-bottom-padding: 6px;
  }
  

/* Menubar styles */
.menubar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: var(--top-bottom-padding);
    padding-bottom: var(--top-bottom-padding);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    backdrop-filter: blur(1px);
    border-bottom: 0.25px solid hsla(235, 30%, 20%, 0.4);
    z-index: 1000;
  
    /* Changes to center menubar */
    justify-content: space-between; 
    background-color: hsla(235, 20%, 15%, 0.9);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 8px;
    height: 42px;
    align-items: center;
  }

  .input {
    flex-grow: 1;
    min-width: 70px;
    border-radius: 7px;
    padding: 10px;
    background-color: hsl(235, 20%, 20%);
    color: hsl(240, 25%, 75%);
    transition: border-color 0.2s ease-in-out;
    border-style: solid;
    border-color: hsla(240, 25%, 75%, 0.016);
    border-width: 2px;
    height: 10px;
  }
  
  .input:focus {
    outline: none;
    border-color: hsl(240, 20%, 40%)
  }

  .input,
  .model-toggle-container {
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
  }

  .model-toggle-container {
    display: flex;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 8.5em;
    height: 2em;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: hsl(240, 10%, 15%);
    transition: .4s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .toggle {
    position: absolute;
    height: 2.0em;
    width: 50%;
    left: 0;
    background-color: hsl(240, 20%, 20%);
    transition: .4s;
    border-radius: 5px;
  }
  
  input:checked + .slider .toggle {
    left: 50%;
  }
  
  .model-label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(240, 76%, 87%);
    width: 50%;
    z-index: 1;
    font-size: 15px;
  }