:root {
  --backgroung-grid-size: 38px;
}

html {
  scrollbar-color: hsla(0, 0%, 60%, 0.2) transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 60%, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 60%, 0.25);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;

  background-image: radial-gradient(
      circle at center center,
      transparent 50%,
      rgb(0, 0, 0) 200%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(63, 63, 63, 0.2) 0px,
      rgba(63, 63, 63, 0.2) 1px,
      transparent 1px,
      transparent var(--backgroung-grid-size)
    ),
    repeating-linear-gradient(
      90deg,
      rgba(63, 63, 63, 0.2) 0px,
      rgba(63, 63, 63, 0.2) 1px,
      transparent 1px,
      transparent var(--backgroung-grid-size)
    ),
    linear-gradient(90deg, hsl(240, 17%, 2%), hsl(235, 50%, 9%));
  color: hsl(240, 76%, 87%);
}
